.sidebar{ 
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    padding-top: 10px;
    z-index: 200;
} 
.sidebar img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    cursor: pointer;
}
.sidebar-link div{
    font-size: 10px;
}
.sidebar-link:hover{
    background-color: lightgray;
}